.container{
  width: 100vw;
  height: 100vh;
  padding: 1em;
  background-image: url(../../assets/imgs/pandora.png);
  background-repeat: no-repeat;
}
.custom-title {
  padding-top: 10em;
  padding-bottom: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
