<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button class="button-toolbar" fill="outline" [routerLink]="['/home']">home</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="content">
      <div class="title-image">
        <h1 class="custom-title">Avatar</h1>
        <img src="../../assets/imgs/poster avatar.jpg" alt="">
      </div>
      <div class="details">
        <div class="diretor-imdb">
          <p>Diretor: <span>James Cameron</span></p>
          <p>Imdb: <span>7.8 / 10</span></p>
        </div>
        <div class="genero-ano">
          <p id="genero">genero: <span>Épico, Ação, Aventura, Ficção científica</span></p>
          <p>Ano: <span>2009</span></p>
        </div>
      </div>
    </div>
    <div class="button-bottom">
      <ion-button fill="outline" [routerLink]="['/one']" [disabled]="true">1</ion-button>
      <ion-button fill="outline" [routerLink]="['/two']">2</ion-button>
      <ion-button fill="outline" [routerLink]="['/three']">3</ion-button>
      <ion-button fill="outline" [routerLink]="['/four']">4</ion-button>
      <ion-button fill="outline" [routerLink]="['/five']">5</ion-button>
    </div>
  </div>
</ion-content>
